<div class="d-flex mx-auto my-2">
  <!--いいね数の表示-->
  <div><%= recipe.favorites.count %> いいね</div>

  <!--いいね操作ボタン(❤)の表示-->
  <div>
    <!--ユーザーログイン済みか？-->
    <% if customer_signed_in? %>

      <!--ログイン済み→自分の投稿かどうか？-->
      <%if recipe.customer_id == current_customer.id %>

        <!--自分の投稿→緑❤(リンクなし)表示-->
        <span style="color:green;">❤︎</span>
      <% else %>

        <!--自分の投稿→いいねしているかどうか？-->
        <% if current_customer.favorited?(recipe.id) %>

          <!--いいね済み→いいねキャンセルボタン(赤❤)-->
          <%= link_to recipe_favorites_path(recipe.id), method: :delete, remote: true do %>
            <span style="color:red;">❤︎</span>
          <% end %>
        <% else %>

          <!--いいねしていない→いいねボタン(青❤)-->
          <%= link_to recipe_favorites_path(recipe.id), method: :post, remote: true do %>
            <span style="">❤︎</span>
          <% end %>
        <% end %>
      <% end %>
    <% else %>

      <!--ログイン前→❤︎非表示-->
    <% end %>
  </div>
</div>