<div>
  <!--いいね数の表示-->
  <%= recipe.favorites.count %>

  <!--自分の投稿かどうか(自分の投稿にはいいね数のみを表示)-->
  
  <% if customer_signed_in? %>
    <%unless recipe.customer_id == current_customer.id %>
      <!--自分がいいねをしているかどうか-->
      <% if current_customer.favorited?(recipe.id) %>
        <!--いいねをしている-->
        <%= link_to recipe_favorites_path(recipe.id), method: :delete, remote: true do %>
          <span style="color:red;">❤︎</span>
        <% end %>
      <% else %>
        <!--いいねをしていない-->
        <%= link_to recipe_favorites_path(recipe.id), method: :post, remote: true do %>
          <span>❤︎</span>
        <% end %>
      <% end %>
    <% else %>
      <span style="color:green;">❤︎</span>
    <% end %>
  <% else %>
    <span style="color:red;">❤︎</span>
  <% end %>
</div>

