<div class="container my-3">
  <div class="row">
    <div class="col-sm-3">
      <%= render "search", tag_list: @tag_list, keyword: @keyword %>
    </div>
    <!--レシピ一覧-->
    <div class="col-sm-9">
      <div class="d-flex justify-content-center flex-wrap">
        <%= render 'recipe', recipes: @recipes %>
      </div>
    </div>
  </div>
</div>