<div class="row">

  <div class="col-sm-3">
    <!--キーワード検索-->
    <div><%= render "search", recipe: @recipe  %></div>


    <!--タグリスト-->
    <div>
      <% @tag_list.each do |list| %>
        <%= link_to list.tag_name, search_tag_path(tag_id: list.id) %>
        <%= "(#{list.recipes.count})" %>
        <br>
      <% end %>
    </div>
  </div>
    <!--レシピ一覧-->
    <div class="col-sm-6">
      <%= render 'recipes', recipes: @recipes, recipe_favorit: @recipe_favorite %>
    </div>
</div>