<div class="row">

  <div class="col-sm-3">
    <!--キーワード検索-->
    <div><%= render "search", recipe: @recipe %></div>
</div>
  <!--レシピ一覧-->
  <div class="col-sm-6">
    <%= render 'recipes', recipes: @recipes, recipe_favorit: @recipe_favorite %>
  </div>
</div>