        <% foods.each do |food| %>

          <%= link_to food_path(food.id), class: 'text-decoration-none' do %>

            <div class="card m-2">

              <%= image_tag food.get_image(385,290), class: 'card-img-top' %>

              <div class="card-body">
                <h5 class="card-title">
                  <%= food.name %>
                </h5>

                <p class="card-text"></p>
              </div>
            </div>
          <% end %>
        <% end %>