<div>
  <table class="table table-sm">
    <thead><tr><td><strong>ジャンル検索</strong></td></tr></thead>
    <tbody>
      <% @food_genres.each do |food_genre|%>
        <tr>
          <td>
            <!--選択中ジャンルかどうか-->
            <% if params[:food_genre_id].to_i ==  food_genre.id %>

              <!--選択中→強調表示-->
              <h6 class="text-dark my-auto">
                <strong><%= food_genre.name %></strong>
              </h6>
            <% else %>

              <!--非選択中→ジャンル選択-->
              <%= link_to foods_genre_path(food_genre.id), class: "" do %>
                <div class="">
                  <%= food_genre.name %>
                </div>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
