<div>
  <table class="table table-sm">
    <thead>
      <tr><td><strong>ジャンル検索</strong></td></tr>
    </thead>
    <tbody>
      <% @food_genres.each do |food_genre|%>
        <tr>
          <td>
            <%= link_to foods_genre_path(food_genre.id), class: "text-dark" do %>
              <% if params[:food_genreid] ==  food_genre.id %>
                <div>
                <strong><%= food_genre.name %></strong>
                </div>
              <% else %>
                <%= food_genre.name %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
