<div class="container">
  <div class="row">

    <!--検索フォーム-->
    <div class="col-sm-3">
      <!--キーワード検索-->
      <%= form_with url: foods_path, method: :get, local: true, class: 'boards_searchForm' do |f|%>
        <%= render "layouts/search", food: @food %>
      <% end %>
      <!--ジャンル検索-->
      <%= render 'genre', food_genres: @food_genres %>
    </div>

    <!--食材一覧-->
    <div class="col-sm-9 d-flex justify-content-center flex-wrap">
      <%= render "foods", foods: @foods %>
    </div>
  </div>
</div>