<div class="container">
  <div class="row">

    <!--Greeting-->
    <div class="col-sm-4">
      <div class="row d-block py-2 bg-$teal-400">
        <h4>みんなの自炊日記へようこそ！</h4>

      </div>

      <div class="row"></div>
    </div>

    <!--food pick up-->
    <div class="col-sm-4">

      <!--<div class="card"><div class="card-title">みんなの自炊日記へようこそ！</div></div>-->
    </div>

    <!--recipe pick up-->
    <div class="col-sm-4">3 of 3</div>
  </div>
</div>
