@use '~bootstrap/scss/bootstrap';

.bg-food {
  background-color: #66FF33;
}

.bg-recipe {
  background-color: #FF9900;
}

// .diary {
//   background-image: url(app/assets/images/note.jpg);
//   background-size: 100%;
// }

.diary * {
  font-family: 'Klee One', cursive;
}