<table class="table">
  <tbody>
    <% if meals == [] %>
      <tr><td>まだ記録されていません</td></tr>
    <% else %>
      <% meals.each do |meal| %>
        <tr>
          <% if meal.food_id %>
            <td><%= meal.food.name %></td>
            <td><%= meal.amount %>g</td>
          <% else %>
            <td><%= meal.recipe.name %></td>
            <td><%= meal.amount %>人前</td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>