
  <div class="row">

    <!--検索フォーム-->
    <div class="col-sm-3">
      <!--キーワード検索-->
      <%= render "search", food: @food %>
      <!--ジャンル検索-->
      <%= render 'genre', food_genres: @food_genres %>
    </div>

    <!--まな板-->
    <div class="col-sm-9">
      <!--まな板-->
      <%= render "cutting_board", cutting_board_foods: @cutting_board_foods %>

      <!--食材一覧-->
      <%= render "foods", foods: @foods %>
    </div>
  </div>
